<app-loader [pageIsvisible]="isVisible"></app-loader>

<div class="test-body">
  <ng-container  *ngIf="searchResults">

    <hotel-search
      [destinationId]="destinationId"
      [pageNumber]="pageNumber"
      (showPage)="showPage($event)"
      (searchValue) = "getSearchVal($event)"
      (isVible) ="getVisible($event)">
    </hotel-search>

    <h2>{{ pageTitle }}</h2>

    <!-- hotelList.component  TODO -->
    <ul class="hotel-list" *ngIf="searchResults">
      <li class="hotel-list--card_onSearch" *ngIf="searchVal && destinationId === defaultDestId"></li>
      <li  class="hotel-list--card" *ngFor="let hotel of searchResults  |
           paginate: {
             itemsPerPage: apiBody.searchResults.pagination.nextPageStartIndex,
             currentPage: pageNumber,
             totalItems: apiBody.searchResults.totalCount
            }"
           id="{{hotel.id}}"
      >
        <ng-template [ngIf]="hotel.optimizedThumbUrls">
          <div class="hotel-list--card_header" [ngStyle]="{'background-image': 'url('+ hotel.optimizedThumbUrls.srpDesktop +')'}">
          </div>
        </ng-template>
        <div class="hotel-list--card_body">
          <h3>{{ hotel.name }}</h3>
          <span>
            <fa-icon [icon]="faLocationArrow"></fa-icon> {{hotel.address.streetAddress }} - {{ hotel.address.locality }}
          </span>
        </div>
        <div class="hotel-list--card_footer">
          <div class="rating">
            <span title="Rating {{hotel.starRating}} of 5" class="score" [ngClass]="'s'+hotel.starRating" ></span>
          </div>
          <div class="price">
            <small>From </small> {{ hotel.ratePlan?.price.current || '0' }}
          </div>
          <hr />
          <button class="card-button" (click)="showDetail({hotelId :hotel.id})">See Details <fa-icon [icon]="faArrowRight"></fa-icon></button>
        </div>
      </li>
    </ul>
    <!-- /hotelList.component -->

    <div style="text-align: center; font-size: 1rem;">
      <pagination-controls (pageChange)="showPage({pageNumber : $event, destId : this.destinationId})"></pagination-controls>
    </div>
  </ng-container>

</div>
