.test-body {
  width: 100%;
  min-height: 50vh;
  max-width: 1600px;
  position: relative;
  background: #fff;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  &.isHidden {
    overflow: hidden;
    height: 80vh;
  }

  h2 {
    font-size: 1.6rem;
    padding: 15px 0;
    text-align: center;
  }

}


