.test-body {
  width: 100%;
  min-height: 50vh;
  max-width: 1600px;
  position: relative;
  background: #fff;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  &.isHidden {
    overflow: hidden;
    height: 80vh;
  }

  h2 {
    font-size: 1.6rem;
    padding: 15px 0;
    text-align: center;
  }
  .hotel-list-fake{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    position: relative;
    list-style-type: none;
    &--card{
      width: 100%;
      position: relative;
      margin-bottom: 5px;
      @media (min-width: 600px) {
        width: 48%;
      }
      @media (min-width: 1024px) {
        width: 31.3333%;
      }
      @media (min-width: 1280px) {
        width: 23%;
      }
      @media (min-width: 1550px) {
        width: 23%;
      }
    }
  }
}


