.detail-wrapper {
  position: fixed;
  top:-100%;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  overflow: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  .detail-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgb(255 255 255  /70%);
    z-index: 3;
  }
  &.isVisible {
    top: 0;
    .carousel-wrapper {
      opacity: 1!important;
    }
  }
  .detail-container {
    z-index: 4;
    width: 90%;
    max-width: 1024px;
    background: white;
    box-shadow: 0 11px 15px -7px #0003, 0 24px 38px 3px #00000024, 0 9px 46px 8px #0000001f;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    border-radius: 2px;
    position: absolute;
    &.hasContent{
      top: 0;
      height: auto;
      overflow: auto;
      max-height: 100vh;
      flex-wrap: nowrap;
    }

    .show-imagesIndex {
      background: rgb(0 0 0 /50%);
      color: white;
      padding: 6px 10px;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 5;
    }

    .carousel-wrapper {
      transition: opacity 1.6s;
      transition-delay: 1.6s;
      transition-property: opacity;
      width: 100%;
      position: relative;
      opacity: 0;

    }

    .image-wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-evenly;

      .image-grid {
        width: 100%;
        @media (min-width: 600px) {
          width: 49%;
        }
        @media (min-width: 900px) {
          width: 32%;
        }
        @media (min-width: 1280px) {
          width: 24%;
        }
        height: 220px;
        margin: 5px 0;
        background-size: cover;
        background-position: center;
      }
    }

    fa-icon {
      position: absolute;
      top: 15px;
      right: 15px;
      width: 30px;
      height: 30px;
      border-radius: 50px;
      background: #ffffff;
      border: 1px solid #000000;
      text-align: center;
      line-height: 30px;
      font-size: 1.1rem;
      margin: 0;
      padding: 0;
      cursor: pointer;

    }

    h2 {
      padding: 0 30px 3px 0;
      font-size: 1.6rem;
      line-height: 1;
    }

    span {
      padding: 0 0 5px;
      font-weight: 600;
    }
  }
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

::ng-deep  .mat-icon-button {
  background: rgb(255 255 255 /60%);
  color: black;
  left: auto;
  right: 5px!important;
  &:first-of-type{
    left: 5px!important;
    right: auto!important;
  }
}
::ng-deep .carousel-list{
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
  -o-animation: fadeIn 4s;
  -ms-animation: fadeIn 4s;
}
::ng-deep .carousel-slide-content {
  cursor: default;
}

::ng-deep .carousel-indicators {
  flex-wrap: wrap;
  width: 100%;
  bottom: 0 !important;
  justify-content: center;
  padding: 2px 0;
  display: none !important;
  @media (min-width: 768px) {
    display: flex !important;
  }

  & > button {
    height: 20px !important;
    margin: 6px !important;
    width: 20px !important;
    border-radius: 50px !important;
    background: white;
    box-shadow: 0 0 3px rgb(0 0 0 / 50%);

    &.mat-button-disabled {
      cursor: default;
      background: #2199e8;
    }
  }
}
