<div class="detail-wrapper" [ngClass]="hotelDetailResults ? 'isVisible' : ''">
  <div class="detail-overlay" (click)="close()"></div>
  <div class="detail-container">
    <fa-icon [icon]="faClose" (click)="close()"></fa-icon>
    <h2>
      {{hotelDetailResults?.name}}
    </h2>
    <span>
      {{hotelDetailResults?.address?.addressLine1}} -
      {{hotelDetailResults?.address?.cityName}} -
      {{hotelDetailResults?.address?.countryName}} </span>
    <div class="carousel-wrapper">
      <mat-carousel
        (change)="currentSlideIndex = $event"
        timings="250ms ease-in"
        [autoplay]="false"
        color="accent"
        maxWidth="auto"
        proportion="70"
        [loop]="true"
        [hideArrows]="false"
        [hideIndicators]="true"
        [useKeyboard]="true"
        [useMouseWheel]="false"
        orientation="ltr"
        *ngIf="hotelDetailImages">
        <mat-carousel-slide
          *ngFor="let slide of hotelDetailImages; let i = index"
          [image]="slide.image"
          overlayColor="#00000040"
          [hideOverlay]="true">

        </mat-carousel-slide>
      </mat-carousel>
      <span class="show-imagesIndex" *ngIf="hotelDetailImages">
        {{ currentSlideIndex + 1 }} <small>of</small> {{hotelDetailImages?.length}}
      </span>
    </div>

  </div>

</div>
