@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  font-family: 'Questrial', sans-serif;
}
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color:white;
  min-width: 320px;
}
body{
  font-size: 75%;
}

*, ::before, ::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;

}
