@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  font-family: 'Questrial', sans-serif;
}
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color:white;
  min-width: 320px;
}
body{
  font-size: 75%;
}

*, ::before, ::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;

}
.score {
  display: inline-block;
  font-size: 1.2rem;
  color: #ccc;
  position: relative;
}
.score::before,
.score::after {
  content: "\2605\2605\2605\2605\2605";
  display: block;
}
.score::after {
  color: gold;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.score.s0::after {
  width: 0%;
}
.score.s0\.5::after {
  width: 10%;
}
.score.s1::after {
  width: 20%;
}
.score.s1\.5::after {
  width: 30%;
}
.score.s2::after {
  width: 40%;
}
.score.s2\.5::after {
  width: 50%;
}
.score.s3::after {
  width: 60%;
}
.score.s3\.5::after {
  width: 70%;
}
.score.s4::after {
  width: 80%;
}
.score.s4\.5::after {
  width: 90%;
}
.score.s5::after {
  width: 100%;
}
